<template>
  <div>
      <section v-for="team in league.teams" :key="team.teamId">
        <h2 :style="headerStyle(team)">{{chosenNumber(team)}}{{team.teamName}}</h2>
        <div v-for="player in team.topPlayers" :key="player.playerId">
          <input type="radio" name="players"
            :value="player"
            v-model="chosenPlayer"
            :id="'player_'+player.playerId"
          >
          <label :for="'player_'+player.playerId"><span>{{player.playerName}} <span class="unimportant">({{player.goalsLastSeason}} goals last season)</span></span></label>
        </div>
      </section>
  </div>
</template>

<script>
export default {
  computed: {
    league() {
      return this.$store.state.league;
    },
    chosenTeams() {
      return this.$store.state.chosenTeams;
    },
    chosenPlayer: {
      get() {
        return this.$store.state.chosenPlayer;
      },
      set(player) {
        this.$store.commit("choosePlayer", player);
      }
    }
  },
  methods: {
    headerStyle(team) {
      //function that colors the header if the team was chosen
      let style = {};
      let isChosen = this.chosenTeams;
      if (this.chosenTeams.indexOf(team) !== -1) {
        style.color = team.teamColor;
      }
      return style;
    },
    chosenNumber(team) {
      //function that returns the chosen rank
      let place = this.chosenTeams.indexOf(team);
      return place !== -1 ? place + 1 + ". " : "";
    }
  }
};
</script>

<style>
</style>
