<template>
  <div class="popup" v-if="show">
    <div class="popup__content background-white p2">
      <slot></slot>
      <div class="popup__actions toolstrip mt">
        <slot name="actions"></slot>
        <button class="btn" v-if="closeButton" @click="close">Close</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    closeButton: {
      default: true
    },
    show: {
      default: false
    }
  },
  methods: {
    close() {
      this.$emit("update:show", !this.show);
    }
  }
};
</script>

<style>
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--gray-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  border-radius: var(--border-radius-default);
  box-shadow: var(--box-shadow-big);
  max-width: calc(100% - 2em);
}
</style>
