<template>
  <div class="chosen-teams background-white p1 mt">
    <section>
      <h3>Chosen teams:</h3>
      <ol class="inline-list">
        <li
          v-for="(team, index) in chosenTeams" 
          :key="team.teamId" 
        >
          {{index + 1}}.&nbsp;{{team.teamName}}{{(index===chosenTeams.length - 1 ? '.':';')}}
        </li>
      </ol>
    </section>
    <section v-if="chosenPlayer.playerName">
      <h3>Chosen player:</h3>
      <div>
        {{chosenPlayer.playerName}}
      </div>
    </section>
    <div class="toolstrip mt">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    chosenTeams() {
      return this.$store.state.chosenTeams || [];
    },
    chosenPlayer() {
      return this.$store.state.chosenPlayer || {};
    }
  }
};
</script>

<style>
.chosen-teams {
  position: sticky;
  bottom: 0;
  box-shadow: var(--box-shadow-full);
  border-top-left-radius: var(--border-radius-default);
  border-top-right-radius: var(--border-radius-default);
  z-index: 5;
}
</style>
