<template>
  <section>
    <div class="main-grid mt" :class="{finished:chosenTeams.length>2}">
      <teamCard
        v-for="team in league.teams"
        :team="team"
        @change="chooseTeam"
        :disabled="chosenTeams.length>2"
        :key="'team_'+team.teamId"/>
    </div>
  </section>
</template>

<script>
import teamCard from "~/components/teamCard";
export default {
  components: {
    teamCard
  },
  computed: {
    league() {
      return this.$store.state.league || {};
    },
    chosenTeams() {
      return this.$store.state.chosenTeams || [];
    }
  },
  methods: {
    /**
     * @param {Object} team Object holding team data
     * @param {Boolean} chosen Boolean indicating whether the team is supposed to be added or removed from the list
     */
    chooseTeam({ team, chosen }) {
      if (chosen) {
        this.$store.commit("addTeam", team);
      } else {
        this.$store.commit("removeTeam", team);
      }
    }
  }
};
</script>

<style>
.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}
@media (min-width: 35em) {
  .main-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
</style>

