<template>
  <div class="team-card">
    <button class="team-card__button full-width"
      :disabled="(disabled && !chosen)"
      :class="{chosen: chosen}"
      :style="{
        backgroundColor:team.teamColor,
        color: color
      }"
      @click="change"
    >
      {{team.teamName}}
    </button>
    <div class="team-card__position" v-if="chosen">{{chosenIndex + 1}}</div>
  </div>
</template>

<script>
import hexRgb from "hex-rgb";
export default {
  props: {
    team: {
      required: true,
      type: Object,
      validator(value) {
        let requiredProperties = ["teamColor", "teamId", "teamName"];
        return requiredProperties.every(prop => value[prop]);
      }
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    color() {
      //function that calculates whether the color should be white or black, 
      //based on background color
      try {
        let rgb = hexRgb(this.team.teamColor),
          lightness =
            (rgb.red * 0.2126 + rgb.green * 0.7152 + rgb.blue * 0.0722) / 255;
        return lightness > 0.5 ? "#000" : "#fff";
      } catch (e) {
        return "#fff";
      }
    },
    chosenIndex() {
      //checking the position of the team amongst chosen teams
      //can't use .indexOf, because ssr destroys reference between page reloads
      return this.$store.state.chosenTeams.findIndex(
        chosenTeam => chosenTeam.teamId === this.team.teamId
      );
    },
    chosen() {
      //checking if the team has been chosen
      return this.chosenIndex > -1;
    }
  },
  methods: {
    change() {
      this.$emit("change", { team: this.team, chosen: !this.chosen });
    }
  }
};
</script>

<style>
.team-card {
  position: relative;
}
.team-card__button {
  display: block;
  padding: var(--small-padding);
  box-shadow: inset 0 0 0 #fff, var(--box-shadow-default);
  min-height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--border-radius-default);
  transition: box-shadow var(--short-transition), color var(--short-transition);
}
.team-card__button:hover {
  box-shadow: inset 0 0 0 #fff, var(--box-shadow-big);
}

.team-card__button.chosen {
  box-shadow: inset 0 0 0 3px #fff, var(--box-shadow-big);
}

.team-card__button[disabled] {
  background-color: #666 !important;
  color: #000 !important;
  pointer-events: none;
}

.team-card__position {
  position: absolute;
  top: -0.3em;
  left: -0.3em;
  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
  background-color: #fff;
  text-align: center;
}
</style>
