@import './components/forms.css';
/* end imports */

:root {
  --color-primary: #D73E0F;
  --color-primary-darker: #8b2a0d;
  --gray-transparent: rgba(0, 0, 0, .4);
  --gray-transparent-darker: rgba(0, 0, 0, .6);
  --box-shadow-default: 0 4px 8px var(--gray-transparent);
  --box-shadow-big: 0 5px 12px var(--gray-transparent-darker);
  --box-shadow-full: 0 0 12px var(--gray-transparent);
  --small-padding: .3em;
  --short-transition: .2s;
  --long-transition: 1s;
  --border-radius-default: 5px;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  border: none;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  background: transparent;
  box-shadow: none;
}

html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc( 15px + (19 - 15) * (100vw - 400px) / (1800 - 400));
  line-height: 1.6;
}

body {
  background: #fff;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

img {
  max-height: 100%;
  max-width: 100%;
}

h1,
h2 {
  margin: 1em 0 .3em;
}

h1 {
  font-size: 2em;
  line-height: 1.3;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  line-height: 1.4em;
  font-weight: bold;
}

ul,
ol {
  margin-left: 1em;
}

p+p,
ol+p,
p+ol {
  margin-top: .75em;
}

strong,
b {
  font-weight: bold;
}

.card {
  padding: .5em;
  box-shadow: var(--box-shadow-default);
  border-radius: var(--border-radius-default);
}

.unimportant {
  color: #595959;
}

.inline-list {
  margin: 0;
}

.inline-list li {
  display: inline;
}

/* header */

/* #region */

.header {
  box-shadow: var(--box-shadow-full);
}

.header__logo {
  height: 5em;
}

/* #endregion */

/* content and basic layout */

/* #region */

.background-white {
  background-color: #fff;
}

.container {
  max-width: 50em;
  padding: 1em;
  margin: 0 auto;
}

.mt {
  margin-top: 1em;
}

.p1 {
  padding: .5em;
}

.p2 {
  padding: 1em;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

/* #endregion */