.btn {
  border-radius: var(--border-radius-default);
  background-color: var(--color-primary);
  transition: background-color var(--short-transition);
  color: #fff;
  cursor: pointer;
  padding: .3em .5em;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--sec {
  background-color: #fff;
  color: var(--color-primary);
  box-shadow: inset 0 0 0 1px var(--color-primary);
  transition: color var(--short-transition);
}

.btn--sec:hover {
  background-color: #fff;
  color: var(--color-primary-darker);
}

.btn[disabled],
.btn.disabled {
  background-color: #666;
  pointer-events: none;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]~label {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}

input[type="radio"]~label::before {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  border: 1px solid var(--color-primary);
  position: relative;
  top: .2em;
  margin-right: .5em;
  transition: border-color var(--short-transition), box-shadow var(--short-transition), background-color var(--short-transition);
  border-radius: 50%;
}

input[type="radio"]~label:hover::before {
  border-color: var(--color-primary-darker);
}

input[type="radio"]:checked~label::before {
  background-color: var(--color-primary);
  box-shadow: inset 0 0 0 .3em #fff;
}

.toolstrip {
  display: grid;
  grid-gap: .5em;
  grid-auto-flow: column;
}

.toolstrip--r {
  justify-content: end;
}