<template>
  <div>
    <header class="header p2">
      <nuxt-link to="/">
        <img src="/img/logo.svg" alt="" class="header__logo">
      </nuxt-link>
    </header>
    <nuxt/>
  </div>
</template>