<template>
  <div>
    <section class="container">
      <div>
        <h1 class="title" v-if="league.leagueName">
          Who will win {{league.leagueName}} in {{league.country}}?
        </h1>
        <p>Choose 3 teams in order of positions that you think they will take.</p>
        <team-chooser/>
      </div>
    </section>

    <transition name="from-bottom-">
      <summary-card v-if="chosenTeams.length"> 
        <nuxt-link class="btn full-width" 
          :to="chosenTeams.length===3?'/player':''"
          :class="{disabled:chosenTeams.length!==3}"
        >
          Next
        </nuxt-link>
      </summary-card>
    </transition>
  </div>
</template>

<script>
import axios from "axios";
import teamChooser from "~/components/teamChooser";
import summaryCard from "~/components/summaryCard";
export default {
  components: {
    teamChooser,
    summaryCard
  },
  computed: {
    league() {
      return this.$store.state.league || {};
    },
    chosenTeams() {
      return this.$store.state.chosenTeams || [];
    }
  },
  fetch({ store, params }) {
    //getting api data and prepopulating the store with it
    return axios
      .get(
        "https://s3-eu-west-1.amazonaws.com/forza-home-assignment/refinery-frontend/league-data.json"
      )
      .then(({ data: { leagues } }) => {
        store.commit("setLeague", leagues[0]);
      });
    //here should be some nice catch for it
  }
};
</script>

<style>
.from-bottom--enter-active,
.from-bottom--leave-active {
  transition: transform var(--long-transition) ease-in-out;
}
.from-bottom--enter,
.from-bottom--leave-to {
  transform: translateY(100%);
}
</style>

