<template>
  <div v-if="!chosenTeams.length" class="container">
    <h1>Oops</h1>
    <p>If you want to make a bet on the highest scorer — you need to try your luck with teams first!</p>
    <p><nuxt-link to="/">Click here to try</nuxt-link></p>
  </div>
  <div v-else>
    <div class="container">
      <h1>Take betting to the next level</h1>
      <p>Do you think you've got in you what it takes to type correctly the highest scorer?</p>
      <player-chooser></player-chooser>
    </div>
    <summary-card>
      <nuxt-link to="/" class="btn btn--sec full-width">Back to teams</nuxt-link>
      <button class="btn btn--sec" @click="clearChosenPlayer">Clear chosen player</button>
      <nuxt-link to="/summary" class="btn full-width">Send</nuxt-link>
    </summary-card>
  </div>
</template>

<script>
import summaryCard from "~/components/summaryCard";
import playerChooser from "~/components/playerChooser";
export default {
  components: {
    playerChooser,
    summaryCard
  },
  computed: {
    league() {
      return this.$store.state.league;
    },
    chosenTeams() {
      return this.$store.state.chosenTeams;
    }
  },
  methods: {
    headerStyle(team) {
      //coloring the header if the team was chosen in the previous step
      console.log(team);
      let style = {};
      if (this.chosenTeams.indexOf(team) !== -1) {
        style.color = team.teamColor;
      }
      return style;
    },
    clearChosenPlayer() {
      this.$store.commit("choosePlayer", null);
    }
  }
};
</script>

<style>
</style>
