<template>
  <section class="container" v-if="! chosenTeams">
    <h1>Wanna bet?</h1>
    <p><nuxt-link to="/">Start from the start</nuxt-link></p>
  </section>
  <section class="container" v-else>
    <h1>Congratulations!</h1>
    <p>You think that the winners of {{league.leagueName}} in {{league.country}} will be:</p>
    <ol>
      <li v-for="team in chosenTeams" :key="'chosen_'+team.teamId">{{team.teamName}}</li>
    </ol>
    <p v-if="chosenPlayer">And that the highest scorer will be <strong>{{chosenPlayer.playerName}}</strong>.</p>
  </section>
</template>

<script>
export default {
  computed: {
    league() {
      return this.$store.state.league;
    },
    chosenTeams() {
      return this.$store.state.chosenTeams;
    },
    chosenPlayer() {
      return this.$store.state.chosenPlayer;
    }
  }
};
</script>

<style>
</style>
